<!DOCTYPE html>
<html>
  <head>
    <title>YS XXX - 12月2号</title>
    <meta name="keywords" content="YS XXX" />
    <meta name="description" content="我和妻子及双方家人12月2号在无锡城中皇冠假日酒店恭候大家的光临。" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.v1537326331734.min.css">
    <!--STYLES END-->

    <script type="text/javascript">
      var Account = <%- typeof account =='undefined' ? '{}' : JSON.stringify(account) %>;
    </script>
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <!--SCRIPTS-->
    <script src="/min/production.v1537326331734.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
